/*** Font   ***/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');


body{
    
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    color: #404040;

}

img{
    max-width: 100%;
    height: auto;
}

.h1{
    font-size: 3.3rem;
}

.h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}


header{
    background-color: #57068C;    
}

#header-mobile-logo{
    border-bottom: 1px solid white;
}

header .fa{
    color: white;
}

.dropdown-bars{
    color: white;
}


.title{
    letter-spacing: 0.02em;
    font-weight: 700; 
    color: black;
}



.logo{
    max-height: 40px;
    width: auto;
}

header nav a{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    font-variant: small-caps;
  
}

header nav a:hover {
    color:  white;
}


#breadcrumb-nav{
    background-color: #220337;
    color: white;
}

ul.breadcrumbs{
    list-style: none;
    color: #d6d6d6;
}

ul.breadcrumbs li{
    display: inline;
    font-size: 12px;
    font-weight: 500;
}

ul.breadcrumbs li i{
    font-size: 20px;
    padding-right: 5px;
}

ul.breadcrumbs li#active{
    color: white;
    font-weight: 600;
}

ul.breadcrumbs li+li:before {
  padding: 5px;
  content: url("assets/img/arrow.svg");
}

.dropdown{

}

.dropdown-menu {
    background-color: #330662;
    padding: 13px;
    
}

.dropdown-menu .dropdown-item{
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 29px;
    font-variant:small-caps;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    
}

.dropdown-menu .dropdown-item:hover{
    background-color: #330662;
    color: white;
    font-weight: bold;
}

.triangle-up {
    display: none;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #330662;
    top: -14px;
}


.intro img{
    
    max-height:400px;
}

p{

    line-height: 200%;
    font-weight: 500;

    
}


.seminar{
    margin-bottom: 40px;
}


.seminar img{
    max-width: 500px;
    border: 3px solid #000000;
    box-sizing: border-box;
    
}

.professor{
    color: #6D6D6D;
    font-size: 14px;
}


a {
    color: #57068C;
    font-weight: bold;
}


/*      ICONS       */
.icon{
    height: 25px;
    width: 25px;
}

.clock-icon {
  background: url('assets/img/Clock.svg');
  display: block;
}

.calendar-icon {
  background: url('assets/img/Calendar.svg');
  display: block;
}

.location-icon {
  background: url('assets/img/Location.svg');
  display: block;
}



.btn.register-btn{
    background-color: #57068C;
    color: white;
    border-radius: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    
}

.btn.register-btn a{
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn.register-btn:hover{
    background-color: white;
    color: #57068C;
    border: 2px solid #57068C; 
}



footer{
    border-top: 5px solid #57068C;
}


footer .contact-title{
    color: #57068C;
    font-weight: 600;
}

footer .contact-info{
    color: #6d6d6d;
    font-size: 14px;
    line-height: 170%;
    
}

.footer-logo{
    max-height: 120px;
}


footer a{
    font-size: 16px;
    color: #626262;
    font-weight: 500;
}

footer a:hover{
    color: #57068C;
    text-decoration-line: none;
    
}


.footer-social{
    background-color: #e0e0e0;
}



ul.social-btns li{
    background-color: #e0e0e0;
    
    border: none;
}


.social-btns li a{
    font-size: 18px;
}




@media all and (min-width: 992px){
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .triangle-up{ display: block; }
}


@media only screen and (max-width: 992px){
    
    .h1{
        font-size: 2.5rem;
    }
    
    .h2{
        font-size: 2.0rem;
        line-height: 150%
    }
    
    .logo{
        max-height: 30px;
    }
}


@media only screen and (max-width: 576px){
    
    .h1{
        font-size: 2rem;
        text-align: center;
        line-height: 150%
    }
    .h2{
        font-size: 1.6rem;
        text-align: center;
    }
    
    p{
        font-size: 0.86rem;
    }
    
    .logo{
        max-height: 25px;
    }
}

}





