/*** Font   ***/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');


body{
    
    font-family: 'Montserrat', sans-serif !important;

}


header{
    background-color: #57068C;
    
    
}

.h1{
    font-size:3.5rem;
}


.title{

    font-variant: small-caps;
    letter-spacing: 0.02em;
    font-weight: 700; 
    color: #57068C;
}



.logo{
    max-width: 250px;
    height: auto;
}

header nav a{
    color: #FFFFFF;
    font-weight: 540;
    font-size: 17px;
    line-height: 29px;
    font-variant: small-caps;
  
}

header nav a:hover {
    color:  white;
}

ul.breadcrumbs{
    list-style: none;
    color: #6D6D6D;
}

ul.breadcrumbs li{
    display: inline;
    font-size: 12px;
    font-weight: 500;
}

ul.breadcrumbs li+li:before {
  padding: 5px;
  color: black;
  content: url("assets/img/arrow.svg");
}


.intro img{
    
    max-width:400px;
}

.intro p{
    font-size: 18px;
    line-height: 170%;
    font-weight: 300;
    
}





.seminar img{
    max-width: 500px;
    border: 3px solid #000000;
    box-sizing: border-box;
    
}

.professor{
    color: #6D6D6D;
    font-size: 14px;
}


a {
    color: #57068C;
    font-weight: bold;
}


/*      ICONS       */
.icon{
    height: 25px;
    width: 25px;
}

.clock-icon {
  background: url('assets/img/Clock.svg');
  display: block;
}

.calendar-icon {
  background: url('assets/img/Calendar.svg');
  display: block;
}

.location-icon {
  background: url('assets/img/Location.svg');
  display: block;
}



.btn.register-btn{
    background-color: #57068C;
    color: white;
    border-radius: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    
}

.btn.register-btn a{
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn.register-btn:hover{
    background-color: white;
    color: #57068C;
    border: 2px solid #57068C; 
}



footer{
    border-top: 5px solid #57068C;
}


footer .contact-title{
    color: #57068C;
    font-weight: 600;
}

footer .contact-info{
    color: #6d6d6d;
    font-size: 14px;
    line-height: 170%;
    
}

.footer-logo{
    max-height: 120px;
}


footer a{
    font-size: 16px;
    color: #626262;
    font-weight: 500;
}

footer a:hover{
    color: #57068C;
    text-decoration-line: none;
    
}


.footer-social{
    background-color: #e0e0e0;
}



ul.social-btns li{
    background-color: #e0e0e0;
    
    border: none;
}


.social-btns li a{
    font-size: 18px;
}










